.leaflet-container {
  background-color: #2a2a2a !important;
  border-radius: 16px;
}
.leaflet-tile-pane {
  filter: brightness(0.9);
}
.custom-popup .leaflet-popup-content {
  background-color: #212121;
  border: 1px solid #3a3a3a;
  border-radius: 8px;
  color: #e2e8f0;
}
.custom-popup .leaflet-popup-tip {
  background-color: #212121;
  border-color: #3a3a3a;
}
